/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* tournament details  start*/
.tournament-intro:hover img{
    transform: scale(1.1);
    transition: transform 1s ease-out;
}
.tournament-intro{
    overflow: hidden;
}
.tournament-details{
    background-color: #2D25A0;
    /* width: 1400px; */
    /* height: 500px; */
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-bottom: 70px;
}
.tournament-name{
    color: #FFFFFF;
    font-size: 64px;
}
.tournament-live{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: .80em;
    width: 100px;
    height: 25px;
    padding: 10px;
    text-decoration: none;
}

/* banner  */
.tournament-banner img{
    width: 556px;
    height: 438px;
    size: 100%;
    margin-right: 80px;
}
.tournament-info{
    margin-right: 80px;
}
.fa-arrow-right{
    margin-left: 5px;
}
/* tournament details end  */

/* players details start*/
.players-details{
    padding-left: 48px;
}
.player{
    width: 330px;
    height:456px;
    top: 747px;
    left: 180px;
    padding:10px;
    box-shadow: 0px 0px 50px 2px silver;
    
}
.player img{
   width: 325px;
   height: 256px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-row-gap: 45px;
    grid-column-gap: 50px; */
    justify-content: center;
    margin-left: 2px;
}
.player{
    grid-column-gap: 40px;
    margin-top: 20px;
}

/* Additional information */
.additional-info{
    margin-top: 300px;
    margin-left: 100px;
    list-style: none;
}
.additional-info{
    display: flex;
    justify-content: space-between;
}
.additional-info a{
    text-decoration: none;
}
/* footer  */
footer{
    text-align: center;
    margin-top: 200px;
}
.footer-logo img{
    width: 384px;
    height: 110px;
}
.social-media-logos{
    display: flex;
    justify-content:center;
    
}
.logo{
    width: 30px;
}
.copyright p{
    font-weight: 400;
}

/* .......media queries....... */

/* mobile devices */
@media only screen and (max-width:688px){
    .players{
        width: 100%;
        grid-template-columns: repeat(1,1fr);

    }
    .player,.bottom{
        flex-direction: column;
        
    }
    
}
